#member_img
  #pg_title Member Profiles
%table#pg_container{:cellpadding => "0", :cellspacing => "0"}
  %tr
    %td#menu_area
      #sidebar
        %ul#cust.nav
            <li>
            <a id="one" href="javascript:Resume();">> View/Print Resume</a>
            </li>
          %li
            %a#two{:href => "javascript:Bio();"} > <%=plIIF(bvPrint, "Edit Biography", "View/Print Biography")%>
            <li>
            <a id="three" href="javascript:Refs();">> References</a>
            </li>
          %li
            %a#four{:href => "javascript:toggle('four','foursub');"} > Links
            %ul#foursub.sub
              %li
                %a{:href => "mailto:<%=svEmail%>"} Contact Me
              <%if svURL <> "" then%>
              %li
                %a{:href => "<%=svURL%>", :target => "_new"} Consultant Web Site
              <%end if%>
          %li
            %a#six{:href => "javascript:Upload();"} > Attachments
          %li
            %a#five{:href => "javascript:toggle('five','fivesub');"} > Member Directory
            %ul#fivesub.sub
              %li
                %a{:href => "member_list.asp"} All Members
      %br/
      %div{:align => "center"}
        <%if svImage <> "" then%>
        %img{:border => "0", :src => "<%=svImage%>"}/
        <%end if%>
    %td{:valign => "top"}
      / CONTENT AREA //
      %table#content_table{:cellpadding => "0", :cellspacing => "0"}
        %tr
          %td#profile_top{:style => "background-image:url(<%=svImage_Small%>);background-repeat:no-repeat;height=50px;"}
            #profile_top_text
              <%=svFirst_Name%>&nbsp;<%=svLast_Name%> >
              %span{:style => "font-size:0.6em;"} <%=svTitle%>
        <%if bvPrint then%>
        %tr
          %td#content_main
            %p <%=svBiography%>
        <%end if%>
        %tr
          %td#content_main{:style => "text-align:left;"}
            %table#profile{:cellpadding => "0", :cellspacing => "0"}
              <%if not bvPrint and bvAdmin then%>
              %tr
                %td#profile_red Sample:
                %td <%plCheckbox "chkSample", ivSample, 1%>
              <%else%>
            %input{:name => "chkSample", :type => "hidden", :value => "<%=ivSample%>"}/
            <%end if%>
            <%if not bvPrint then%>
        %tr
          %td#profile_red Title:
          %td <%plTextbox "txtTitle_RQD", svTitle, 25, 255, ""%>
        %tr{:valign => "top"}
          %td#profile_red Biography:
          %td <%plTextArea "txaBiography_TXA_4000_RQD", svBiography, 50, 8, ""%>
        <%end if%>
        %tr
          %td#profile_red Location:
          %td
            <%if bvPrint then%>
            <%=svLocation%>
            <%else%>
            <%plTextbox "txtLocation_RQD", svLocation, 25, 255, ""%>
            <%end if%>
        %tr{:valign => "top"}
          %td#profile_red Expertise:
          %td
            <%if not bvPrint then%>
            %table#profile{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %th Expertise
                %th Yes/No
                %th # of Years
              <%end if%>
              <%
              'dim svExpertise
              'svExpertise = ""
              
              plCmd_Params_Clear cmd, 0
              plCmd_Set cmd, plCon, "con451.Profile_Expertise_Get"
              plCmd_Param_Add cmd, "Profile_Key INT", ivProfile_Key
              
              rs.open cmd,,adOpenForwardOnly,adLockReadOnly
              if not (rs.eof and rs.bof) then
              do until rs.eof
              if bvPrint then
              
              if plNullCheck(rs.Fields.Item("Profile_Key").Value,0) > 0 then
              'svExpertise = svExpertise & rs.Fields.Item("Expertise").Value & ", "
              response.write rs.Fields.Item("Expertise").Value & "
            = succeed "\"" do
              %br/
            end if
            
            else
            \%>
        %tr
          %td <%=rs.Fields.Item("Expertise").Value%>
          %td <%plCheckbox "chkExpertise_" & rs.Fields.Item("Expertise_Key").Value, plIIF(plNullCheck(rs.Fields.Item("Profile_Key").Value,0) > 0, 1, 0), "1"%>
          %td <%=plsNumbox("txtExpertise_Years_" & rs.Fields.Item("Expertise_Key").Value & "_INT", plNullCheck(rs.Fields.Item("Years_of_Experience").Value,0), 5, 10, "", true)%>
        <%
        end if
        rs.movenext
        loop
        end if
        rs.close
        
        'if bvPrint then
        '	svExpertise = trim(svExpertise)
        'response.write left(svExpertise,len(svExpertise)-1)
        'end if
        \%>
        <%if not bvPrint then%>
      <%end if%>
  /
    <tr>
    <td id="profile_red">Years:</td>
    <td><%=plsNumbox("txtYears_INT", ivYears_of_Experience, 5, 10, "", true)%></td>
    </tr>
  %tr{:valign => "top"}
    %td#profile_red Latest Projects:
    %td
      <%if not bvPrint then%>
      %table#profile{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          / <th>Client</th>
          %th Project Name
          %th Show on Profile
        <%end if%>
        <%
        'dim svProjects
        'svProjects = ""
        
        dim ivLoop, ivCount, ivMaxProjects
        ivCount = 0
        ivMaxProjects = 5
        
        plCmd_Params_Clear cmd, 0
        plCmd_Set cmd, plCon, "con451.Profile_Project_Get"
        plCmd_Param_Add cmd, "Profile_Key INT", ivProfile_Key
        
        rs.open cmd,,adOpenForwardOnly,adLockReadOnly
        if not (rs.eof and rs.bof) then
        do until rs.eof
        if bvPrint then
        if plNullCheck(rs.Fields.Item("Show_on_Profile").Value,0) and plNullCheck(rs.Fields.Item("Project").Value,"") <> "" then
        'svProjects = svProjects & plNullCheck(rs.Fields.Item("Project").Value,"") & ", " 'plIIF(ivRecord_Count <> rs.RecordCount, ", ", "")
        response.write plNullCheck(rs.Fields.Item("Project").Value,"") & "
      = succeed "\"" do
        %br/
      end if
      else
      Project_Row	rs.Fields.Item("Profile_Project_Key").Value, plNullCheck(rs.Fields.Item("Client").Value,""), plNullCheck(rs.Fields.Item("Project").Value,""), plIIF(plNullCheck(rs.Fields.Item("Show_on_Profile").Value,0), 1, 0)
      ivCount = ivCount + 1
      end if
      rs.movenext
      loop
      
      if not bvPrint and ivCount < ivMaxProjects then
      for ivLoop = ivCount to ivMaxProjects - 1
      Project_Row ivLoop, "", "", 1
      next
      end if
      else
      
      if not bvPrint then
      for ivLoop = 1 to ivMaxProjects
      Project_Row ivLoop, "", "", 1
      next
      end if
      
      end if
      rs.close
      
      'if bvPrint then
      '	svProjects = trim(svProjects)
      '	response.write left(svProjects,len(svProjects)-1)
      'end if
      \%>
      <%if not bvPrint then%>
<%end if%>
<%if not bvPrint then%>
%tr
  %td#profile_red
  %td
    %input{:onclick => "javascript:SubmitProfileForm();", :src => "images/button.jpg", :type => "image"}/
<%end if%>
