%tr
  %td#content_main
    %a{ :href => "http://www.teletracker.net" }
      = image_tag "Teletracker_Logo.jpg"
    %p{ :style => "margin-bottom:10px;" }
      You have heard of Call Source and Who’s Calling but TeleTracker does it better for half the price.  If you have a dealer that is not using call tracking for both lead sourcing and call recording for lead training you need to bring them into the 21st CenturyYou have heard of Call Source and Who’s Calling but TeleTracker does it better for half the price.  If you have a dealer that is not using call tracking for both lead sourcing and call recording for lead training you need to bring them into the 21st Century.
    %p{ :style => "margin-bottom:10px;" }
      With TeleTracker, automobile dealers can instantly measure the performance of each of their advertising campaigns, accurately capture lead information about each customer and record and then score their employee-to-customer interactions for performance improvement.
    %p{ :style => "margin-bottom:10px;" }
      Consultants will love the recurring revenue opportunity that TeleTracker provides as well as the call coaching revenue opportunities.
%tr
%tr
  %td#content_main
    %div{ :style => "float:right;margin-right:5em;" }
      Sales Support
      %a{ :href => "#", :onclick => "alert('You are not currently authorized to access this page.'); return false;" }
        %img{ :title => "Sales Support", :src => "images/button.jpg", :border => "0", :alt => "Sales Support" }
    %div{ :style => "float:right;margin-right:5em;" }
      Tell Me More
      %a{ :href => "application.asp" }
        %img{ :title => "Tell Me More", :src => "images/button.jpg", :border => "0", :alt => "Tell Me More" }
