%tr
  %td#content_main
    %a{ :href => "http://www.edificegroup.com" }
      = image_tag "Edifice_Logo.jpg"
    %p{ :style => "margin-bottom:10px;margin-top:5px;" }
      Did you know that only 2% of the general public is in the market to buy a new or used car at any given day?  Edifice has spent nearly 10 years perfecting their algorithms to identify In-Market Buyers from both their database of 90 million US consumers and a thorough market analysis of the dealerships own customer database.  They use effective OEM approved email messages to their opted-in in market prospects that drive traffic to their client’s stores.  Their permission based campaigns have an average open rate of nearly 10% and they typically can drive 10-15% of a dealerships monthly sales every month.  Can you think of any of your stores that could use an effective marketing tool like this?
%tr
  %td#content_main
    %div{ :style => "float:right;margin-right:5em;" }
      Sales Support
      %a{ :href => "#", :onclick => "alert('You are not currently authorized to access this page.'); return false;" }
        %img{ :title => "Sales Support", :src => "images/button.jpg", :border => "0", :alt => "Sales Support" }
    %div{ :style => "float:right;margin-right:5em;" }
      Tell Me More
      %a{ :href => "mailto:info@connectwithaca.com?subject=Edifice%20Group%20-%20Tell%20Me%20More" }
        %img{ :title => "Tell Me More", :src => "images/button.jpg", :border => "0", :alt => "Tell Me More" }
