#logo
  \&nbsp;
#globalnav
  %ul.gnav{ :style => "border:none;" }
    %li.tablit
      %a#one{ :href => "default.asp", :name => "navigation", :style => "color:#c60a27;") }
        Home
  %ul.gnav
    %li.tab
      %a#two{ :href => "member.asp", :name => "navigation", :style => "color:#c60a27;") }
        Member Center
  %ul.gnav
    %li.tab
      %a#three{ :href => "dealer.asp", :name => "navigation", :style => "color:#c60a27;") }
        Dealer Direct
  %ul.gnav
    %li.tab
      %a#four{ :href => "recruiting.asp", :name => "navigation", :style => "color:#c60a27;") }
        Recruiting
  %ul.gnav
    %li.tab
      %a#five{ :href => "join.asp", :name => "navigation", :style => "color:#c60a27;") }
        Join ACA
