%ul#cust.nav
  %li
    = render :partial => 'sessions/login'
  %li
    %a#two{ :href => "javascript:toggle('two','twosub');" }
      > Member Profile
    %ul#twosub.sub
      - if logged_in?
        %li
          = link_to "Edit My Profile", edit_member_profile_path(current_user.member)
  - if logged_in?
    %li
      %a#three{ :href => "javascript:toggle('three','threesub');" }
        > Member Directory
      %ul#threesub.sub
        %li
          = link_to "All Members", members_path
  %li
    %a#seven{ :href => "javascript:toggle('seven','sevensub');" }
      > Sample Profiles
    %ul#sevensub.sub
      %li
        %a{ :href => "member_find_profile.asp" }
          First_Name Last_Name
