%ul#cust.nav
  %li
    = render :partial => 'sessions/login'
  %li
    %a#two{ :href => "javascript:toggle('two','twosub');" }
      > Member Profile
    %ul#twosub.sub
      - if logged_in?
        %li
          %a{ :href => "profile.asp" }
            Edit My Profile
      %li
        %a{ :href => "http://www.connectwithaca.com/shopsite_sc/page1.html" }
          Annual Membership (PayPal)
  %li
    %a#three{ :href => "javascript:toggle('three','threesub');" }
      > Member Directory
    %ul#threesub.sub
      %li
        %a{ :href => "member_list.asp" }
          All Members
  %li
    %a#seven{ :href => "javascript:toggle('seven','sevensub');" }
      > Sample Profiles
    %ul#sevensub.sub
      %li
        %a{ :href => "member_find_profile.asp" }
          First_Name Last_Name
