%tr
  %td#content_main
    %a{ :href => "http://www.smaalliance.com" }
      = image_tag "SMA_Alliance.jpg"
    %p{ :style => "margin-bottom:10px;" }
      This Dealer Direct opportunity is all your dealers will need to completely outsource their Digital Marketing department.  SMA takes their inventory and leverages thei
    %p{ :style => "margin-bottom:10px;" }
      Google this product and hang on to your seats.  Limited regional opportunities still exist and the ACA is excited to join with BPG to recruit for this opportunity.  
