%tr
  %td#content_main
    %a{ :href => "http://www.smaalliance.com" }
      = image_tag "SMA_Alliance.jpg"
    %p{ :style => "margin-bottom:10px;" }
      This Dealer Direct opportunity is all your dealers will 
      need to completely outsource their Digital Marketing department.
      SMA takes their inventory and leverages their network of 
      over 200 websites to make your dealers phone ring an average 
      of 30 times per day.  Techniques so powerful that most market 
      areas can only support 20-25 dealerships.  Does your market 
      area need this product?
    %p{ :style => "margin-bottom:10px;" }
      Google this product and hang on to your seats.  Limited 
      regional opportunities still exist and the ACA is excited 
      to join with BPG to recruit for this opportunity.  
%tr
  %td#content_main
    %div{ :style => "float:right;margin-right:5em;" }
      Sales Support
      %a{ :href => "#", :onclick => "alert('You are not currently authorized to access this page.'); return false;" }
        %img{ :title => "Sales Support", :src => "images/button.jpg", :border => "0", :alt => "Sales Support" }
    %div{ :style => "float:right;margin-right:5em;" }
      Tell Me More
      %a{ :href => "mailto:info@connectwithaca.com?subject=SMA%20Alliance%20-%20Tell%20Me%20More" }
        %img{ :title => "Tell Me More", :src => "images/button.jpg", :border => "0", :alt => "Tell Me More" }
