#member_img
  #pg_title
    Dealer Direct
%table#pg_container{ :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td#menu_area
      #sidebar
        %ul#cust.nav
          %li
            = link_to "> Current Opportunities", current_opportunities_path, :id => "five"
    %td{ :valign => "top" }
      %table#content_table{ :cellspacing => "0", :cellpadding => "0" }
        %tr
          %td#content_main
            %h1
              Dealer Direct Opportunities
        = render :partial => 'sma_alliance_opportunity'
        = render :partial => 'edifice_opportunity'
        = render :partial => 'teletracker_opportunity'
