#member_img
  #pg_title
    Dealer Direct
%table#pg_container{ :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td#menu_area
      #sidebar
        %ul#cust.nav
          %li
            = link_to "> Current Opportunities", current_opportunities_path, :id => "five"
    %td{ :valign => "top" }
      %table#content_table{ :cellspacing => "0", :cellpadding => "0" }
        %tr
          %td#content_main
            %h1
              Dealer Direct Opportunities
        %tr
          %td#content_main
            %a{ :href => "http://www.smaalliance.com" }
              = image_tag "SMA_Alliance.jpg"
            %p{ :style => "margin-bottom:10px;" }
              This Dealer Direct opportunity is all your dealers will need to completely outsource their Digital Marketing department.  SMA takes their inventory and leverages their network of over 200 websites to make your dealers phone ring an average of 30 times per day.  Techniques so powerful that most market areas can only support 20-25 dealerships.  Does your market area need this product?
        %tr
          %td#content_main
            %div{ :style => "float:right;margin-right:5em;" }
              Sales Support
              %a{ :href => "#", :onclick => "alert('You are not currently authorized to access this page.'); return false;" }
                %img{ :title => "Sales Support", :src => "images/button.jpg", :border => "0", :alt => "Sales Support" }
            %div{ :style => "float:right;margin-right:5em;" }
              Tell Me More
              %a{ :href => "application.asp" }
                %img{ :title => "Tell Me More", :src => "images/button.jpg", :border => "0", :alt => "Tell Me More" }
        %tr
          %td#content_main
            %a{ :href => "http://www.edificegroup.com" }
              = image_tag "Edifice_Logo.jpg"
            %p{ :style => "margin-bottom:10px;margin-top:5px;" }
              Did you know that only 2% of the general public is in the market to buy a new or used car at any given day?  Edifice has spent nearly 10 years perfecting their algorithms to identify In-Market Buyers from both their database of 90 million US consumers and a thorough market analysis of the dealerships own customer database.  They use effective OEM approved email messages to their opted-in in market prospects that drive traffic to their client’s stores.  Their permission based campaigns have an average open rate of nearly 10% and they typically can drive 10-15% of a dealerships monthly sales every month.  Can you think of any of your stores that could use an effective marketing tool like this?
            %p{ :style => "margin-bottom:10px;" }
              Google this product and hang on to your seats.  Limited regional opportunities still exist and the ACA is excited to join with BPG to recruit for this opportunity.   The inventory management,  F&amp;I revenue and Service Loyalty benefits of this product make it a game changer.  Contact us asap to review with us.  We will take this item off the page when all regions are taken.
        %tr
          %td#content_main
            %div{ :style => "float:right;margin-right:5em;" }
              Sales Support
              %a{ :href => "#", :onclick => "alert('You are not currently authorized to access this page.'); return false;" }
                %img{ :title => "Sales Support", :src => "images/button.jpg", :border => "0", :alt => "Sales Support" }
            %div{ :style => "float:right;margin-right:5em;" }
              Tell Me More
              %a{ :href => "application.asp" }
                %img{ :title => "Tell Me More", :src => "images/button.jpg", :border => "0", :alt => "Tell Me More" }
