#member_img
  #pg_title
    Dealer Direct
%table#pg_container{ :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td#menu_area
      #sidebar
        %ul#cust.nav
          %li
            %a#four{ :href => "javascript:toggle('four','foursub');" }
              > Submit Opportunity
            %ul#foursub.sub
          %li
            = link_to "> Current Opportunities", current_opportunities_path, :id => "five"
          %li
            %a#five{ :href => "javascript:toggle('five','fivesub');" }
              > Content Library
            %ul#sixsub.sub
    %td{ :valign => "top" }
      %table#content_table{ :cellspacing => "0", :cellpadding => "0" }
        %tr
          %td#content_main{ :style => "background-image:url(images/dealer_img.jpg);background-repeat:no-repeat;background-position:right bottom;" }
            %h1
              Your resource for unlimited possibilities
            %p{ :style => "width:100%;" }
              Each Dealer Direct Opportunity is thoroughly researched, vetted and sold and serviced prior to allowing them to be sponsored by the ACA.  We provide our members all required marketing materials, product training, sales support and lead generation to help them be successful.
            %p{ :style => "width:100%;" }
              Whether you're looking for some additional opportunities or looking to tell others about your own product or service, Dealer Direct on the ACA website is the way to go!  Where else can you have access to multiple types of products that you can market immediately in just a few clicks.
            %p{ :style => "width:290px;" }
              In just a few clicks you can review all of the related materials, review and sign the associated NDA and reseller’s agreement, and gain access to all of the sales support material required to begin selling and supporting dealership direct opportunities.
            %p{ :style => "width:290px;" }
              Dealer Direct was actually the concept described to us by multiple consultants that have developed and delivered successful content of their own and were looking for an efficient way to distribute it.  The ACA is all too happy to oblige!
