#member_img
  #pg_title
    Join ACA Today!
%table#pg_container{ :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td#menu_area
      #sidebar
        %ul#cust.nav
          %li
            %a#two{ :href => "#" }
              > Membership Application
          %li
            %a#three{ :href => "mailto:join@connectwithaca.com" }
              > Contact ACA
    %td{ :valign => "top" }
      %table#content_table{ :cellspacing => "0", :cellpadding => "0" }
        %tr
          %td#content_top
            Membership Advantages
        %tr
          %td#content_main{ :style => "background-image:url();background- repeat:no-repeat;background-position:right bottom;" }
            %table
              %tr
                %td{ :style => "width:100%;vertical-align:top;padding:0px 10px 10px 0px;" }
                  %h1
                    ACA Membership Benefits
                  %p
                  %ul.pg
                    Networking
                    %li
                      As our membership grows you will not find a more extensive and relevant &#8220;Rolodex&#8221;.  Keeping our members connected and in touch is one of our top priorities.
                  %p
                  %ul.pg
                    Dealer Direct Opportunities
                    %li
                      Our on-line library of available products, services and content will be the most extensive available.  You will also be able to leverage the member body to help market and distribute content or a product you have had success with as well .....and get paid for it!
                  %p
                  %ul.pg
                    Recruiting Pipeline
                    %li
                      The ACA currently offers its recruiting services directly to the OEMs and their marketing companies.  This provides you with the first opportunity to respond to new programs as they develop.  Our database includes a swift way for them to find you and the skill sets they require quickly.  As our ranks grow, we will be the first place they turn to find the best.  Ask us to show you how we solicit, search and communicate opportunities back to you.
                  %div{ :style => "float:right;" }
                    %a{ :href => "#" }
                      %img{ :title => "Join", :src => "images/join_btn.jpg", :border => "0", :alt => "Join" }
