#logo
  \&nbsp;
#globalnav
  %ul.gnav{ :style => "border:none;" }
    %li.tablit
      %a#one{ :href => root_path, :name => "navigation", :style => "color:#c60a27;" }
        Home
  %ul.gnav
    %li.tab
      %a#two{ :href => members_path, :name => "navigation", :style => "color:#c60a27;" }
        Member Center
  %ul.gnav
    %li.tab
      %a#three{ :href => dealer_path, :name => "navigation", :style => "color:#c60a27;" }
        Dealer Direct
  %ul.gnav
    %li.tab
      %a#four{ :href => recruiting_path, :name => "navigation", :style => "color:#c60a27;" }
        Recruiting
  %ul.gnav
    %li.tab
      %a#five{ :href => join_path, :name => "navigation", :style => "color:#c60a27;" }
        Join ACA
