#logo
  \&nbsp;
#globalnav
  %ul.gnav{ :style => "border:none;" }
    %li.tablit
      %a#tab_one{ :href => root_path, :name => "navigation", :style => "color:#c60a27;" }
        Home
  %ul.gnav
    %li.tab
      %a#tab_two{ :href => member_center_path, :name => "navigation", :style => "color:#c60a27;" }
        Member Center
  %ul.gnav
    %li.tab
      %a#tab_three{ :href => dealer_path, :name => "navigation", :style => "color:#c60a27;" }
        Dealer Direct
  %ul.gnav
    %li.tab
      %a#tab_four{ :href => recruiting_path, :name => "navigation", :style => "color:#c60a27;" }
        Recruiting
  %ul.gnav
    %li.tab
      %a#tab_five{ :href => join_path, :name => "navigation", :style => "color:#c60a27;" }
        Join ACA
